<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="lay.css">
   
</head>
<body>
    <div class="navbar">
        <h2>UTS WEB</h2>
        <ul>
            <li><a href="/HTML/home.html">HOME</a></li>
            <li><a href="/navbar/home.html">PROFIL</a></li>
            <li><a href="/layout/lay.html">LAYOUT</a></li>
            <li><a href="/HTML/dom.html">DOM</a></li>
        </ul>
    </div>

    <div class="banner"> 
        <img src="logo-removebg-preview.png" class="logo" >
        <p class="kata">PEMROGRAMAN WEB</p>
    </div>

<div id="a">
         <div class="left_panel"> 
            <div class="left1">content kiri 1</div>
            <div class="left2">content kiri 2</div>
            <div class="left3">content kiri 3</div>
        </div>
        
         <div class="center_panel"> 
            <div class="center1">content tengah 1</div>
            <div class="center2">content tengah 2</div>
            <div class="center3">content tengah 3</div>
         </div>
        
        <div class="right_panel">
            <div class="right1">content kanan 1</div>
            <div class="right2">content kanan 2</div>
        </div> 
</div>


            <div class="footer">
             <div class="footer_left">footer kiri</div>
             <div class="footer_right">footer kanan</div>
            </div>

   <script src="laydom.js"></script>
</body>
</html>